---
gameserver:
  serverId: 1
  acceptAlternateId: true
  reserveHostOnLogin: false
  port: 7777
  maxPlayer: 500
  serverListBrackets: false
  GMOnly: false
  serverListAge: 0
  serverListType: Normal
  hexId:
    - 104
    - 179
    - 1
    - 203
    - 176
    - 237
    - 249
    - 109
    - 32
    - 250
    - 254
    - 154
    - 206
    - 166
    - 16
    - 126
  portForLS: '9014'
  database:
    name: postgres
    host: 127.0.0.1
    schema: gameserver
    port: '5432'
    user: postgres
    password: postgres
    sslmode: disable
    pool_max_conns: '100'
  debug:
    show_packets: true
    enable_load_npc: true
    enabled_spawnlist: true
    enabled_load_skills: true
    enabled_items: true